{% load i18n static theme_material_kit %}


<!-- Navbar -->
<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
        class="navbar navbar-expand-lg  blur border-radius-xl top-0 mt-4 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid px-0">
          <a class="navbar-brand font-weight-bolder ms-sm-3" href="/"
            rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
            SwapShop
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
              <li class="nav-item ms-lg-auto">
                <a class="nav-link nav-link-icon me-2" href="#about">
                  <p class="d-inline text-sm z-index-1 font-weight-normal" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="About">About</p>
                </a>
              </li>
              <li class="nav-item ms-lg-auto">
                <a class="nav-link nav-link-icon me-2" href="{% url 'trades' %}">
                  <p class="d-inline text-sm z-index-1 font-weight-normal" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Upload">Listings</p>
                </a>
              </li>
              <li class="nav-item ms-lg-auto">
                <a class="nav-link nav-link-icon me-2" href="{% url 'opentrades' %}">
                  <p class="d-inline text-sm z-index-1 font-weight-normal" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Trades">Trades</p>
                </a>
              </li>
              {% comment %} <li class="nav-item dropdown dropdown-hover mx-2">
                <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                  Pages
                  <img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-auto ms-md-2">
                </a>
                <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-xl mt-0 mt-lg-3"
                  aria-labelledby="dropdownMenuPages">
                  <div class="d-none d-lg-block">

                    {% if request.user.is_authenticated %}
                      {% if request.user.is_superuser %}
                        <a href="{% url 'admin:password_change' %}" class="dropdown-item border-radius-md">
                          <span>Change Password</span>
                        </a>
                        <a href="{% url 'admin:logout' %}" class="dropdown-item border-radius-md">
                          <span>Logout</span>
                        </a>
                      {% else %}
                        <a href="{% url 'password_change' %}" class="dropdown-item border-radius-md">
                          <span>Change Password</span>
                        </a>
                        <a href="{% url 'logout' %}" class="dropdown-item border-radius-md">
                          <span>Logout</span>
                        </a>
                      {% endif %}
                    {% else %}
                    <a href="{% url 'login' %}" class="dropdown-item border-radius-md">
                      <span>Sign In</span>
                    </a>
                    <a href="{% url 'register' %}" class="dropdown-item border-radius-md">
                      <span>Sign Up</span>
                    </a>
                    {% endif %}
                  </div>
                </div>
              </li> {% endcomment %}

              {% if request.user.is_authenticated %}
              <li class="nav-item ms-lg-auto">
                <a class="nav-link nav-link-icon me-2" href="{% url 'logout' %}">
                  <i class="fa fa-sign-out me-1"></i>
                  <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Logout">Logout</p>
                </a>
              </li>
              {% else %}
              <li class="nav-item ms-lg-auto">
                <a class="nav-link nav-link-icon me-2" href="{% url 'login' %}">
                  <i class="fa fa-sign-in me-1"></i>
                  <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Logout">Login</p>
                </a>
              </li>
              {% endif %}
              <li class="nav-item my-auto ms-3 ms-lg-0">
                <a href="{% url 'create' %}"
                   class="btn btn-sm  bg-gradient-primary  mb-0 me-1 mt-2 mt-md-0">Create</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>